@import "../../theme/vars.scss";

.balanceContainer {
    height: 8rem;

    align-items: center !important;

    background-image: $BALANCE_BACKGROUND_IMAGE;

    div {
        text-align: center;
    }
}

.transparentBalance {
    display: flex;
}

.privateBalance {
    display: flex;
}

.totalBalance {
    display: flex;
}

// Make the 'balanceWraper' sitting center of its parent, make sure its parent set to 'display: flex'
.balanceWraper {
    margin: auto;
}

.balanceTitle {
    text-align: left !important;
    font-size: 0.7rem;
    color: $BALANCE_TITLE_FONT_COLOR;
    opacity: 0.6;
}

.balanceValue {
    text-align: left !important;
    font-size: 2rem;
    font-weight: 400;
}

.balanceValueUnit {
    margin-left: 0.5rem;
    font-size: 1.25rem;
}

.hasUnconfirmedTransactionBalance {
    color: $BALANCE_VALUE_UNCONFIRMED_COLOR;
}
