@import "../../theme/vars.scss";

.balanceContainer {
    height: 8rem;

    align-items: center;

    background-image: linear-gradient(45deg, rgba(0, 158, 216, 1.0) 10%, rgba(164, 104, 241, 1.0));

    div {
        text-align: center;
    }
}

.balanceTitle {
    font-size: 0.6rem;
    color: $BALANCE_TITLE_FONT_COLOR;
    opacity: 0.6;
}

.balanceValue {
    font-size: 2rem;
    font-weight: 100;
}

.balanceValueUnit {
    margin-left: 0.5rem;
    font-size: 0.8rem;
}