@import "~/assets/styles/vars.scss";

.balanceContainer {
  -webkit-app-region: drag;
  // height: 12rem;

  height: 7.875rem;
  position: absolute;
  right: 0;
  left: $NAVI_BAR_CONTAINER_WIDTH + 1.35rem;

  align-items: center !important;

  background-image: $BALANCE_BACKGROUND_IMAGE;

  div {
    text-align: center;
  }
}

.transparentBalance {
  display: flex;
}

.privateBalance {
  display: flex;
}

.totalBalance {
  display: flex;
}

// Make the 'balanceWraper' sitting center of its parent, make sure its parent set to 'display: flex'
.balanceWraper {
  -webkit-app-region: no-drag;
  margin: auto;
}

.balanceTitle {
  text-align: left !important;
  font-size: 0.7rem;
  color: $BALANCE_TITLE_FONT_COLOR;
  opacity: 0.6;
  text-transform: uppercase;
}

.balanceValue {
  display: inline-block;
  position: relative;

  text-align: left !important;
  font-size: 2rem;
  font-weight: 400;

  .balanceDecimalPart {
    position: absolute;
    top: 0.25rem;

    font-size: 1.4rem;
    vertical-align: text-top;
  }
}

.balanceValueUnit {
  display: inline-block;
  margin-left: 4rem;

  font-size: 1.25rem;
}

.hasUnconfirmedTransactionBalance {
  color: $BALANCE_VALUE_UNCONFIRMED_COLOR;
}
