@import "~/assets/styles/modal.scss";

$confirmationModalWidth: 26rem;
$confirmationModalHeight: 15rem;

.confirmation {
  width: $confirmationModalWidth;
  height: $confirmationModalHeight;
  padding: 1.8rem;
}

.buttons {
  display: flex;
  > div {
    margin-right: 0.75rem;
  }
}

.list {
  padding: 0;
  margin-top: -0.75rem;
  text-align: left;
  list-style: none;
  margin-bottom: 1rem;

  li {
    font-size: 0.7rem;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid $BASE_COLOR_BORDER_GRAY;
    font-weight: 500;

    &:last-child {
      border-bottom: none;
    }
  }

  span {
    color: $BASE_COLOR_WHITE;
    width: 7rem;
    display: inline-block;
    font-weight: 100;
  }

  .privateTransaction {
    display: flex;
  }

  .yesNo {
    display: flex;
    margin-right: 1rem;
  }
}

.check {
  color: $BASE_COLOR_FONT_GRAY;
  margin-right: 0.4rem;
  margin-top: 0.1rem;

  &:before {
    content: "\e90c";
  }

  &.enabled {
    color: $BASE_COLOR_LIGHT_GREEN;

    &:before {
      content: "\e90d";
    }
  }
}
