@import "~/assets/styles/modal.scss";

$indicatorsModalWidth: 40rem;

.indicators {
  width: $indicatorsModalWidth;
  padding: 1.8rem;
}

.body {
  display: flex;
}

.selectedContainer {
  width: 50%;
  font-size: 0.7rem;

  .title {
    font-size: 0.9rem;
  }
}

.availableContainer {
  width: 50%;
  height: 19rem;
}

.indicatorsList {
  overflow-y: scroll;

  .indicator {
    position: relative;
    color: $BASE_COLOR_WHITE;
    font-size: 0.65rem;
    padding: 0.5rem;
    cursor: pointer;
    user-select: none;

    &.notImplemented {
      color: $BASE_COLOR_FONT_GRAY;
    }

    border-bottom: 1px solid $BASE_COLOR_BORDER_BLUE;
  }

  .removeButton {
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    outline: none;
    z-index: 100000000000;

    &:before {
      font-size: 0.5rem;
      content: '\e906';
    }
  }
}
