@import "~/assets/styles/vars.scss";
@import "~/assets/styles/tabs.scss";

.form {

  .buttonsRow {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 0.2rem;
    > div {
      margin-left: 0.5rem;
    }
  }
}

.body {
  margin-top: 0.25rem;
  padding: 0.25rem;
  border: 1px solid $BASE_COLOR_BORDER_BLUE;
}

.tabs {
  min-height: 5rem;
}

.selectedTabPanel {
  display: block;
  height: 100%;
  padding-top: 0.5rem;
}

.tabList {
  .tab {
    margin: 0;
    padding: 0.5rem;
  }
}

.inputLabel {
  min-width: 7rem;
}

.colorPickerLabel {
  min-width: 5rem;
}
