@import "~/assets/styles/vars.scss";
@import '../ResDex.scss';

.limitOrder {
  @extend %smallContainer;
  padding: 0.5rem;
}

.inputLabel {
  min-width: 2.8rem;
}

.maxRelAddon {
  width: 5.2rem;
  border-left: 1px solid $BASE_COLOR_BORDER_GRAY;
  padding-left: 0.3rem;

  button {
    color: $BASE_COLOR_WHITE;
    background-color: $BASE_COLOR_PURPLE;
    border: 0;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 0.7rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0.4rem;

  .caption {
    margin-top: -0.3rem;
  }

  .makerOnlyCheckbox {
    margin: 0;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.exchangeButton {
  border: none !important;
  width: 100%;

  &.buy {
    background: $BASE_COLOR_LIGHT_GREEN;
  }

  &.sell {
    background: $BASE_COLOR_LIGHT_RED;
  }
}

.amountRate {
  display: flex;
  justify-content: space-between;

  .caption {
    color: $BASE_COLOR_FONT_GRAY_2;
    font-size: 0.67rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-left: 1rem;
    white-space: nowrap;
    margin-bottom: 0.75rem;
  }

  .rates {
    display: flex;
    justify-content: space-between;
    width: 25%;
  }
}
