@import "../../theme/vars.scss";

$ADDRESS_BOOK_LIST_COLUMN_NAME_WIDTH: 10rem;

.AddressBookListContainer {
    justify-content: flex-start;

    background-color: $ADDRESS_BOOK_LIST_BACKGROUND_COLOR;

    color: $ADDRESS_BOOK_LIST_BODY_FONT_COLOR;

    overflow-x: hidden;
    overflow-y: scroll;
}

.title {
    margin-bottom: 1.5rem;

    font-size: 1.2rem;
    font-weight: 400;
}

.hasNoDetail {
    font-size: 1.2rem;
    font-weight: 300;
}

.error {
    font-size: 1.2rem;
    font-weight: 300;
}

.tableContainer {
    position: relative;
}

.tableHeader {
    div {
        display: inline-block;
        color: $ADDRESS_BOOK_LIST_HEADER_FONT_COLOR;
        font-size: 0.8rem;
    }
}

.tableHeaderColumnName {
    width: $ADDRESS_BOOK_LIST_COLUMN_NAME_WIDTH;
}

.tableBodyRow {
    font-weight: 300;
    cursor: default;

    div {
        padding: 0.8rem 0;

        display: inline-block;

        font-size: 0.7rem;

        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid $ADDRESS_BOOK_LIST_BODY_SEPARATOR_COLOR;
    }
}

.tableBodyRowColumnName {
    width: $ADDRESS_BOOK_LIST_COLUMN_NAME_WIDTH;
}