@import "~/assets/styles/vars.scss";
@import "~/assets/styles/section.scss";

.form {
  margin-right: 19.75rem;
}

.fromAddressRow {
  display: flex;
}

.amountRow {
  display: flex;

  .label {
  }

  .fee {
  }

  .symbol {
  }

}

.memo {
  .label {
  }
}
