@import "~/assets/styles/vars.scss";
@import "~/assets/styles/generic-component.scss";

.sendCashContainer {
    padding: 3rem 2rem;
    min-width: 30rem;
}

.oldInputLabel {
  min-width: 7.21rem !important;
}

.inputLabel {
  min-width: 7.6rem !important;
}

.wrapperContainer {
    justify-content: flex-start;
    align-items: flex-start;
    width: 33.75rem !important;
}

.titleBar {
  font-size: 1.25rem;
  font-weight: 100;
  margin-bottom: 2rem;
}

.sendFromContainer {
    margin-bottom: 2rem;

    font-size: 0.7rem;
    font-weight: 300;
}

.sendFromTitle {
    display: inline-block;
    margin-right: 1.5rem;
    color: $BASE_COLOR_BUTTON_FONT_GRAY;
}

.sendFromCheckboxContainer {
    display: inline-block;

    span {
        margin-right: 2.5rem;
        font-weight: 500;
    }
}

.fromAddressContainer {
    position: relative;
    font-size: 0.7rem;
    font-weight: 300;

    div {
        display: inline-block;
    }
}

.dropdownMenu {
    height: 0; // Fixed the container height issue
}

.toggleButton {
    display: block !important;
    text-transform: uppercase;

    outline: none;
    position: relative;
    width: 3.8rem;
    height: 1.4rem;
    margin-left: 1rem;
    padding: 0.2rem;

    cursor: pointer;
    border-radius: 5rem;

    background-color: $SEND_CASH_TOGGLE_BUTTON_BACKGROUND_COLOR;

    &:disabled {
        opacity: 0.6;
        cursor: initial;
    }

    .toggleButtonSwitcher {
        margin-left: 0.1rem;
        margin-top: 0.025rem;

        height: 1.35rem;
        width: 1.35rem;

        border-radius: 5rem;
        background-color: $SEND_CASH_TOGGLE_BUTTON_SWITCHER_COLOR;
    }

    .toggleButtonText {
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;

        color: $SEND_CASH_TOGGLE_BUTTON_TEXT_COLOR
    }
}

// Toggle button turned ON
.toggleButtonOn {
    .toggleButtonSwitcher {
        margin-left: 2.3rem;
    }

    .toggleButtonText {
        left: 0.5rem;
        right: unset;
        color: $SEND_CASH_TOGGLE_BUTTON_SWITCHER_COLOR;
    }
}

// Toggle button disabled
.toggleButton[disabled] {
    cursor: default;

    .toggleButtonSwitcher {
        opacity: 0.6;
    }
}


.sendPrivatelyToggleContainer {
    position: absolute;
    left: 26rem;
    top: 0;

    display: flex !important;
    align-items: center;
    height: 2rem;

    margin-left: 1rem;

    .sendPrivateTitle {
        display: block !important;

        white-space: nowrap;
        color: $BASE_COLOR_BUTTON_FONT_GRAY;
    }
    overflow: visible;
}

.amountContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .transactionFeeContainer {
    font-weight: 300;
    font-size: 0.6rem;
    padding-top: 0.5rem;
    margin-right: 3rem;

    color: $BASE_COLOR_BUTTON_FONT_GRAY;

    span {
      margin-right: 0.5rem;
    }

    .part2 {
      font-weight: 500;
    }

    text-transform: uppercase;
  }
}

// Overwrite the CSS for the <RoundedInput> --> <input> --> <span> left
div[name="from-address"] {
  width: 23rem;
  span[class*="tooltips"] {
    &:after {
      left: 25% !important;
    }
  }
}

// Overwrite the CSS for the <input> width, and the <RoundedInput> --> <input> --> <span> left
.destinationAddressInput {
  width: 37rem;

  // input {
  //   min-width: 20rem !important;
  //   max-width: 25rem !important;
  //   width: 21rem !important;
  // }

  // span[class*="tooltips"] {
  //   left: 27% !important;
  // }
}

div[name="amount"] {
    display: inline-block;
    margin-right: 1.5rem;

    input {
        text-align: right;
        width: 21rem;
        max-width: 25rem;
    }
}


.sendButtonContainer {
    margin-bottom: 1.5rem;

    button {
        @include roundedButton(true);

        margin-left: 0;
        margin-right: 2rem;
        padding: 0.4rem 2rem;
    }

    div {
        display: inline-block;
    }

    .desc {
        width: 30rem;
        overflow: visible;

        display: flex;
        align-items: center;

        .descIcon {
            font-size: 1.8rem;
            color: $BASE_COLOR_BUTTON_FONT_GRAY;
        }

        .descContent {
            margin-left: 1rem;

            font-weight: 400;
            font-size: 0.7rem;
        }
    }
}

.memoConatiner {
    padding-top: 1.6rem;

    font-size: 0.7rem;
    font-weight: 300;

    color: $BASE_COLOR_BUTTON_FONT_GRAY;

    border-top: 1px solid $BASE_COLOR_BORDER_GRAY;

    .memoTitle {
        margin-right: 0.5rem;

        font-weight: 400;
        color: $BASE_COLOR_WHITE;
    }
}


/**---------------------------------------------------------------------------------------------------
 * Override the default radio button style
 *---------------------------------------------------------------------------------------------------*/
.radioButtonContainer {
    display: inline-block;
    margin-right: 1.5rem;
}

input[type=radio   ]:not(old){
    width     : 2em;
    margin    : 0;
    padding   : 0;
    font-size : 1em;
    opacity   : 0;
    cursor    : pointer;
}

input[type=radio   ]:not(old) + label{
    display      : inline-block;
    margin-left  : -2em;
    line-height  : 1.5em;

    font-size    : 0.75rem;
    font-weight  : 500;
    cursor       : pointer;
}

input[type=radio   ]:not(old) + label > span{
    display          : inline-block;
    width            : 1.25rem;
    height           : 1.25rem;
    // margin           : 0.25em 0.5em 0.25em 0.25em;
    margin-right     : 1rem;
    border-radius    : 5rem;
    background       : rgb(22, 26, 52);
    vertical-align   : middle;
}

input[type=radio]:not(old):checked +  label > span > span{
    display          : block;
    width            : 0.55rem;
    height           : 0.55rem;
    margin           : 0.32rem;
    border-radius    : 5rem;
    background       : $BASE_COLOR_PURPLE;
}
