@import "../../theme/vars.scss";

.statusModal {
  position: absolute;
  top: 15%;
  left: 15%;
  right: 15%;
  bottom: 15&;
  background: $MODAL_BACKGROUND_COLOR;
}

.modalTitle {
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

@mixin modalToolbarButton {
  -webkit-app-region: no-drag;
  display: inline-block;

  width: 0.8rem;
  height: 0.8rem;

  margin-right: 1rem;
  border-radius: 20rem;

  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.closeButton {
  @include modalToolbarButton();
  background-color: $NAVI_BAR_TOOLBAR_BUTTON_CLOSE_COLOR;
}
