@import "../../assets/styles/generic-component.scss";
@import "../../assets/styles/vars.scss";
@import "../../assets/styles/modal-dialog.scss";

.statusModal {
  @extend .modalDialog;
}

.statusModalBody {
  @extend .modalBody;

  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem;

    td {
      padding: 0.25rem;

      div {
        overflow: hidden;
      }
    }

    tr {
      border-bottom: 1.5px solid $BASE_COLOR_BORDER_GRAY;
    }

    tr:last-child {
      border-bottom: none;
    }
  }

  .tabs {
    height: 100%;
  }

  .tabList {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .tab {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 4px 12px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.7rem;
    border-radius: 5px 5px 0 0;
    margin-right: 2px;
    width: 10%;
    white-space: nowrap;
  }

  .selectedTab {
    border-bottom: none;
    z-index: 3;
    background-color: $BASE_COLOR_PURPLE;
  }

  .tabPanel {
    display: none;
    z-index: 2;
    height: 100%;
  }

  .selectedTabPanel {
    display: block;
    border: 1.1px solid $BASE_COLOR_BORDER_GRAY;
    background-color: $BASE_COLOR_DARK_BLUE_2;
    padding: 6px;
    height: 100%;
  }

  .statusIcon {
    position: relative;
    top: 1px;
    left: -2px;
  }

  .green {
    color: green;
  }

  .yellow {
    color: yellow;
  }

  .red {
    color: red;
  }
}

.statusModalFooter {
  @extend .modalFooter;

  .refreshButton {
    @include roundedButton(false);
  }
}
