@import "../../theme/vars.scss";
@import "../../theme/generic-component.scss";
@import "../../theme/toggle-button.scss";

@mixin settingButton() {
    @include roundedButton(true);
    margin-left: 0;
}

.settingsContainer {
    padding: 3rem 2rem;
    min-width: 30rem;
}

.wrapperContainer {
    justify-content: flex-start;
    align-items: flex-start;
}

.titleBar {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

// Overwrite the CSS to change the width
div[name="old-password"] {
    margin-bottom: 1rem;
}

div[name="new-password"] {
    margin-bottom: 1rem;
}

div[name="repeat-password"] {
    margin-bottom: 1rem;
}

.savePasswordButton {
    @include settingButton();
    height: 3rem;
    padding-bottom: 1.4rem;
    margin-bottom: 2rem;
}

.manageDaemonContainer {
    padding: 1.5rem 0;

    font-size: 0.7rem;
    font-weight: 300;

    border-top: 1px solid $BASE_COLOR_BORDER_GRAY;

    .manageDaemonTitle {
        margin-bottom: 1.5rem;
        text-transform: uppercase;
    }

    .manageDaemonBody {
      div, button {
        display: inline-block;
      }
    }
}

.stopLocalNodeButton {
    @include settingButton();
}

.showStatusButton {
    @include settingButton();

    margin-left: 1.5rem;
}

.manageWalletContainer {
    padding: 1.5rem 0;

    font-size: 0.7rem;
    font-weight: 300;

    border-top: 1px solid $BASE_COLOR_BORDER_GRAY;

    .manageWalletTitle {
        margin-bottom: 1.5rem;
        text-transform: uppercase;
    }
}

.walletNodeButton {
    @include settingButton();
    margin-right: 1.5rem;
}
