@import "~/assets/styles/vars.scss";
@import "~/assets/styles/generic-component.scss";
@import "~/assets/styles/toggle-button.scss";

@mixin settingButton() {
    @include roundedButton(true);
    margin-left: 0;
}

.settingsContainer {
    padding: 3rem 2rem;
    min-width: 30rem;
}

.wrapperContainer {
    justify-content: flex-start;
    align-items: flex-start;
}

.titleBar {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.languageContainer {
  position: relative;
}

.savePasswordButton {
    @include settingButton();
}

.sectionContainer {
  width: 100%;
  display: block;
  padding: 1.3rem 0;
  font-size: 0.7rem;
  font-weight: 300;
  border-top: 1px solid $BASE_COLOR_BORDER_GRAY;

  .title {
    margin-bottom: 1.2rem;
    text-transform: uppercase;
  }

  .body {
    display: inline-block;
    &.buttonsRow {
      div, button {
        display: inline-block;
      }
    }
  }

  &.walletPassword {
    // border-top: 0;
    // padding-top: 0.5rem;
  }

}

.stopLocalNodeButton {
    @include settingButton();
}

.showStatusButton {
    @include settingButton();

    margin-left: 1.5rem;
}

.walletNodeButton {
    @include settingButton();
    margin-right: 1.5rem;
}
