@import "../theme/vars.scss";

.roundedInputContainer {
    position: relative;
    padding: 0 1.3rem;

    border: 1.5px solid $BASE_COLOR_BODER_GRAY;
    border-radius: 5rem;

    font-size: 0.7rem;
    font-weight: 300;

    div {
        display: inline-block;
    }

    .roundedInputTitle {
        color: $BASE_COLOR_BUTTON_FONT_GRAY;
        width: 9rem;
    }
    
    .roundedInputTextArea {
        input {
            padding: 0.5rem 1rem;
    
            min-width: 12rem;
            max-width: 12rem;
            width: 12rem;
    
            background-color: transparent;
            border: 0;
            border-left: 1.5px solid $BASE_COLOR_BODER_GRAY;
    
            color: $BASE_COLOR_WHITE;
    
            &:focus {
                outline: none
            }
        }
    
        span {
            cursor: pointer;
        }

        .roundedInputAddonPaste {
            position: relative;
            color: $BASE_COLOR_PURPLE;

            .addOnPaste {
                position: absolute;
                top: -0.03rem;
                left: 1.5rem;
            }
        }

        .roundedInputAddonTextPlaceholder {
            color: $BASE_COLOR_BUTTON_FONT_GRAY;
            cursor: default;
        }
    }    
}

.roundedInputContainer[disabled] {
    .roundedInputTextArea {

        .roundedInputAddonDropdown {
            cursor: default;
        }

        .roundedInputAddonPaste {
            opacity: 0.6;
            cursor: default;

            span {
                cursor: default;
            }
        }
    }
}

