@import "./vars.scss";

// ------------------------------------------------------------------------------------------------------
// Generic rounded button
// ------------------------------------------------------------------------------------------------------
@mixin roundedButton($activeStyle: false) {
    padding: 0.6rem 1.2rem;

    @if $activeStyle {
        background-color: $BASE_COLOR_PURPLE;
        border: 1.5px solid $BASE_COLOR_PURPLE;
        color: $BASE_COLOR_WHITE;
    } @else {
        background-color: transparent;
        border: 1.5px solid $BASE_COLOR_BODER_GRAY;
        color: $BASE_COLOR_BUTTON_FONT_GRAY;
    }

    border-radius: 5rem;

    font-size: 0.7rem;
    font-weight: 300;

    &:focus {
        outline: none;
    }
}
