//
// Pay attention: 
//    Only put color, opacity, layout related (border, border-radius) here, DO NOT put any "screen size sensitive"
// vars here !!!
//

$BASE_COLOR_PURPLE: rgb(163, 103, 240);
$BASE_COLOR_GRAY: rgb(68,76, 110);
$BASE_COLOR_BODER_GRAY: rgb(67, 75, 109);
$BASE_COLOR_BUTTON_FONT_GRAY: rgb(163, 172, 199);
$BASE_COLOR_WHITE: rgb(238, 238, 241);


// ------------------------------------------------------------------------------------------------------
// Navigation bar
// ------------------------------------------------------------------------------------------------------
$NAVI_BAR_BACKGROUND_COLOR: rgb(21, 26, 53);

$NAVI_BAR_TOOLBAR_BUTTON_CLOSE_COLOR: rgb(255, 97, 87);
$NAVI_BAR_TOOLBAR_BUTTON_MINIMIZE_COLOR: rgb(255, 190, 46);
$NAVI_BAR_TOOLBAR_BUTTON_FULLSCREEN_COLOR: rgb(40, 201, 63);

$NAVI_BAR_ITEM_FONT_COLOR: rgb(60, 65, 87);
$NAVI_BAR_ITEM_FONT_ACTIVE_COLOR: $BASE_COLOR_WHITE;
$NAVI_BAR_ITEM_ICON_COLOR: rgb(60, 65, 87);
$NAVI_BAR_ITEM_ICON_ACTIVE_COLOR: rgb(6, 121, 170);


// ------------------------------------------------------------------------------------------------------
// System info bar
// ------------------------------------------------------------------------------------------------------
$SYSTEM_INFO_BAR_BACKGROUND_COLOR: rgb(37, 44, 73);
$SYSTEM_INFO_BAR_TITLE_FONT_COLOR: $BASE_COLOR_GRAY;
$SYSTEM_INFO_BAR_BODY_FONT_COLOR: $BASE_COLOR_WHITE;
$SYSTEM_INFO_BAR_RUNNING_ICON_COLOR: rgb(40, 201, 63);
$SYSTEM_INFO_BAR_NOT_RUNNING_ICON_COLOR: rgb(255, 97, 87);



// ------------------------------------------------------------------------------------------------------
// Overview - Balance
// ------------------------------------------------------------------------------------------------------
$BALANCE_TITLE_FONT_COLOR: #EEEEEE;
$BALANCE_BACKGROUND_IMAGE: linear-gradient(45deg, rgba(0, 158, 216, 1.0) 10%, rgba(164, 104, 241, 1.0));


// ------------------------------------------------------------------------------------------------------
// Overview - Transaction List
// ------------------------------------------------------------------------------------------------------
$TRANSACTION_LIST_BACKGROUND_COLOR: rgb(29, 36, 64);
$TRANSACTION_LIST_HEADER_FONT_COLOR: $BASE_COLOR_GRAY;
$TRANSACTION_LIST_BODY_FONT_COLOR: $BASE_COLOR_WHITE;
$TRANSACTION_LIST_BODY_ICON_COLOR: rgb(67, 75, 109);
$TRANSACTION_LIST_BODY_SEPARATOR_COLOR: rgb(49, 56, 88);

