@import "~/assets/styles/vars.scss";

.container {
  position: absolute;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  z-index: 1000;
  left: 100%;
  top: 2.2rem;
  transform: translateX(-100%);
}

.menu {
  position: relative;

  padding: 0.3rem 1.3rem;
  min-width: $POPUP_MENU_CONTAINER_WIDTH;
  background-color: $POPUP_MENU_BACKGROUND_COLOR;

  border-radius: 0.35rem;

  -webkit-box-shadow: 5px 5px 59px -2px $POPUP_MENU_SHADOW_COLOR;
  -moz-box-shadow: 5px 5px 59px -2px $POPUP_MENU_SHADOW_COLOR;
  box-shadow: 5px 5px 59px -2px $POPUP_MENU_SHADOW_COLOR;
}

.menuItem {
  display: block !important;
  padding: 0.6rem 0;
  border-bottom: 1px solid $BASE_COLOR_BORDER_GRAY;

  color: $POPUP_MENU_FONT_COLOR;
  font-size: 0.65rem;

  &:hover {
    color: $BASE_COLOR_PURPLE;
  }

  &.disabled {
    color: $BASE_COLOR_FONT_GRAY;
    pointer-events: none;
  }

  &.disabled:hover {
    color: $BASE_COLOR_FONT_GRAY;
  }


  text-transform: uppercase;
}

.menuItem:last-child {
  border-bottom: none;
}
