@import "../../assets/styles/vars.scss";

.strength {
  text-transform: uppercase;
  color: $BASE_COLOR_FONT_GRAY;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  line-height: 1.2rem;

  div {
    float: right;
    font-size: 1.2rem;
    text-transform: none;
  }

  .weak {
    color: $BASE_COLOR_ERROR;
  }

  .medium {
    color: $BASE_COLOR_WARNING;
  }

  .good {
    color: $BASE_COLOR_SUCCESS;
  }

  .excellent {
    color: $BASE_COLOR_SUCCESS;
    text-shadow: 0 0 0.4rem $BASE_COLOR_SUCCESS;
  }
}

.progressBar {
  background: $BASE_COLOR_DARK_BLUE_2;
  border-radius: 5px;

  div {
    height: 10px;
    background: $BASE_COLOR_PURPLE;
    border-radius: 5px;
  }
}
