@import "~/assets/styles/vars.scss";
@import "./ResDex.scss";

.container {
  margin: 1.5rem;
}

%discButton {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background: $BASE_COLOR_GRAY_3;
  color: $BASE_COLOR_FONT_GRAY;
  border: 1px solid $BASE_COLOR_BORDER_GRAY;
}

%discButton:hover {
  color: $BASE_COLOR_PURPLE;
  background-color: #3c396b;
  border: 1px solid $BASE_COLOR_PURPLE;
}

%discButton:before {
  position: relative;
}

.record {
  border-bottom: 1px solid $BASE_COLOR_BORDER_BLUE;

  %column {
    color: $BASE_COLOR_FONT_GRAY;
    font-size: 0.6rem;
    white-space: nowrap;

    span {
      color: $BASE_COLOR_WHITE;
      font-size: 0.7rem;
      display: block;
      margin-bottom: 0.3rem;
    }
  }
}

.record:last-child {
  border-bottom: none;
}

.enabledCurrenciesContainer {
  @extend %smallContainer;
  min-width: 15.1875rem;
  float: left;
  margin-bottom: 1.5rem;

  .record {
    cursor: pointer;
    height: 4.1875rem;

    &.selected {
      background-color: #262e4e;
    }

    .columnsWrapper {
      padding: 1rem 1rem 0.2rem 1rem;
      display: flex;
    }

    .currency {
      margin-right: 0.2rem;

      img {
        width: 1.3rem;
        padding: 0.35rem;
      }
    }

    .balance {
      @extend %column;
      width: 100%;
    }

    .equity {
      text-align: right;
      font-weight: 100;
      font-size: 0.9rem;
      padding-top: 0.5rem;

      i {
        font-style: normal;
        font-size: 0.8rem;
      }
    }

    .more {
      height: 100%;
      padding-top: 0.4rem;
      margin-left: 1rem;

      .button {
        @extend %discButton;
      }

      .button:before {
        content: '. . .';
        font-size: 0.5rem;
        top: -0.32rem;
        left: 0.29rem;
        font-weight: 600;
      }
    }

    .rateBar {
      display: block;
      position: relative;
      width: 14.4rem;
      margin: 0.2rem 0.4rem 0rem 0.4rem;

      div {
        height: 0.17rem;
        border-radius: 0.05rem;
      }
    }
  }

  .addNewCoin {
    color: $BASE_COLOR_FONT_GRAY;
    font-size: 0.7rem;
    padding-left: 1rem;
    cursor: pointer;
    outline: none;
    height: 3.3rem;

    .button {
      @extend %discButton;
      margin-right: 0.5rem;
      border: 1px solid transparent;
    }

    .button:before {
      content: '\e900';
      font-size: 1.4rem;
      top: -0.06rem;
      left: -0.09rem;
    }

    .caption {
      display: inline-block;
      line-height: 3.2rem;
      user-select: none;
    }

    &:hover {
      background-color: #262e4e;
    }
  }
}

.historyContainer {
  @extend %smallContainer;
  margin-left: 16.5rem;
  text-align: center;
  margin-bottom: 1.5rem;

  .loadingContainer, .empty {
    text-align: center;
    font-size: 1rem;
    color: $BASE_COLOR_FONT_GRAY;
    padding: 1rem;
    height: 1.3rem;

    .loading {
      display: inline-block;
      white-space: nowrap;

      img {
        float: left;
        width: 1rem;
        margin-right: 0.4rem;
      }

      div {
        line-height: 1rem;
        margin-right: 1.4rem;
      }
    }
  }

  .record {
    text-align: left;
    display: flex;
    padding: 1.5rem;

    .date {
      width: 4rem;
      font-size: 0.95rem;
      font-weight: 200;

      span {
        color: $BASE_COLOR_PURPLE;
        font-size: 0.57rem;
        text-transform: uppercase;
        display: block;
      }
    }

    .description {
      @extend %column;
      width: 100%;
    }

    .amount {
      @extend %column;
      text-align: right;
      width: 50%;
      overflow: hidden;
    }

  }
}

.deleteCoin {
  color: $BASE_COLOR_LIGHT_RED;
}
