@import "~/assets/styles/vars.scss";
@import "./ResDex.scss";

.container {
  display: flex;
  margin: 1.5rem;
}

%discButton {
  display: inline-block;
  vertical-align: middle;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: $BASE_COLOR_GRAY_3;
  color: $BASE_COLOR_FONT_GRAY;
}

%discButton:hover {
  background: $BASE_COLOR_PURPLE;
}

%discButton:hover:before {
  content: '';
}

%discButton:before {
  position: relative;
}

.record {
  border-bottom: 1px solid $BASE_COLOR_BORDER_GRAY;

  %column {
    color: $BASE_COLOR_FONT_GRAY;
    font-size: 0.7rem;
    white-space: nowrap;

    span {
      color: $BASE_COLOR_WHITE;
      font-size: 0.8rem;
      display: block;
    }
  }
}

.record:last-child {
  border-bottom: none;
}

.accountsContainer {
  @extend %smallContainer;
  width: 70%;

  .record {
    .columnsWrapper {
      padding: 1.5rem 1.5rem 0.5rem 1.5rem;
      display: flex;
    }

    .account {
      margin-right: 0.1rem;

      img {
        width: 1.5rem;
        padding: 0.35rem;
      }
    }

    .balance {
      @extend %column;
      width: 100%;
    }

    .equity {
      text-align: right;
      font-size: 1rem;
      padding-top: 0.5rem;

      i {
        font-style: normal;
        font-size: 0.8rem;
      }
    }

    .more {
      height: 100%;
      padding-top: 0.4rem;
      margin-left: 1rem;

      .button {
        @extend %discButton;
      }

      .button:before {
        content: '. . .';
        font-size: 0.6rem;
        top: -0.2rem;
        left: 0.35rem;
        font-weight: 600;
      }
    }

    .rateBar {
      display: block;
      position: relative;
      width: 100%;
      margin: 0 0.5rem 0.5rem 0.5rem;

      div {
        height: 0.2rem;
        background: $BASE_COLOR_LIGHT_BLUE;
        border-radius: 0.15rem;

        &.btc {
          background: #ffad04;
        }

        &.ltc {
          background: #b5b5b5;
        }

        &.eth {
          background: #6f7cba;
        }

        &.etc {
          background: #59d4af;
        }

        &.bch {
          background: #8dc451;
        }
      }
    }
  }

  .addNewCoin {
    color: $BASE_COLOR_FONT_GRAY;
    padding: 1.5rem;

    .button {
      @extend %discButton;
      margin-right: 0.8rem;
    }

    .button:before {
      content: '\e900';
      font-size: 2rem;
      top: -0.25rem;
      left: -0.25rem;
    }
  }
}

.historyContainer {
  @extend %smallContainer;
  width: 100%;
  margin-left: 2rem;

  .record {
    display: flex;
    padding: 1.5rem;

    .date {
      width: 4rem;
      font-size: 1rem;
      font-weight: 200;

      span {
        color: $BASE_COLOR_PURPLE;
        font-size: 0.6rem;
        text-transform: uppercase;
        display: block;
      }
    }

    .description {
      @extend %column;
      width: 100%;
    }

    .amount {
      @extend %column;
      text-align: right;
      width: 50%;
      overflow: hidden;
    }

  }
}
