@import "~/assets/styles/vars.scss";
@import "./ResDex.scss";

.container {
  overflow-x: visible;
}

.top {
  margin: 1.6rem 2.3rem;
  margin-right: 1.5rem;
  position: relative;
}

.summary {
  display: flex;

  div {
    color: $BASE_COLOR_FONT_GRAY;
    text-transform: uppercase;
    font-size: 0.6rem;
    border-right: 1px solid $BASE_COLOR_BORDER_GRAY;
    padding-right: 2rem;

    span {
      padding-top: 0.2rem;
      display: block;
      color: $BASE_COLOR_WHITE;
      font-weight: 300;
      font-size: 2.2rem;

      sup {
        font-size: 1.2rem;
      }

      sub {
        vertical-align: baseline;
        font-size: 1.2rem;
      }

      i {
        display: inline-block;
        position: relative;
        color: $BASE_COLOR_LIGHT_RED;
        font-style: normal;
        font-size: 1.2rem;
        top: -0.3rem;

        &.positive {
          color: $BASE_COLOR_LIGHT_GREEN;
        }
      }
    }
  }

  div:last-child {
    border: none;
    margin-left: 1.8rem;
  }
}

.resolution {
  $bulletDiameter: 1.35rem;
  user-select: none;
  float: right;
  margin: 0;
  position: absolute;
  top: 0;
  left: 100%;
  transform: translateX(-100%);
  white-space: nowrap;

  li {
    cursor: pointer;
    color: #9fabdc;
    display: inline-block;
    font-size: 0.6rem;
    font-weight: 200;
    list-style: none;
    padding: 0;
    width: $bulletDiameter;
    height: $bulletDiameter;
    text-align: center;
    line-height: $bulletDiameter;

    &.active {
      color: $BASE_COLOR_WHITE;
      background: $BASE_COLOR_PURPLE;
      border-radius: 50%;
    }
  }
}

.coins {
  display: flex;
  padding: 0 1.35rem;
  padding-right: 0;

  .coin {
    @extend %smallContainer;
    width: 7.875rem;
    text-align: center;
    position: relative;
    padding-top: 1rem;
    font-size: 0.7rem;
    margin-right: 1rem;
    border: 0.5px solid $BASE_COLOR_BORDER_BLUE;

    img {
      position: absolute;
      width: 1.3rem;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .amount {
      color: $BASE_COLOR_FONT_GRAY;
      font-size: 0.6rem;
      padding: 0.2rem;
      margin-bottom: 0.3rem;
    }

    .equity {
      font-size: 1.2rem;
      font-weight: 100;

      sub {
        font-size: 0.9rem;
        vertical-align: baseline;
      }

      margin-bottom: 0.8rem;
    }

    .buttons {
      display: flex;
      border-top: 1px solid $BASE_COLOR_BORDER_BLUE;

      button {
        margin: 0;
        border-radius: 0;
        border: none;
        background: transparent;
        font-size: 0.51rem;
        font-weight: 100;
        padding: 0.6rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        color: $BASE_COLOR_PURPLE;
      }

      button:first-child {
        border-right: 1px solid $BASE_COLOR_BORDER_GRAY;
      }
    }
  }

  .coin:last-child {
    margin-right: 0;
  }
}
