@import "~/assets/styles/vars.scss";
@import "./ResDex.scss";

.container {
  display: flex;
}

.actionContainer {
  @extend %smallContainer;
  width: 100%;
}

.summaryContainer {
  @extend %smallContainer;
  width: 80%;
  margin-left: 2rem;
}
