@import "~/assets/styles/vars.scss";

.chartContainer {
  height: 7.43rem;
  margin-bottom: 1.35rem;

  .tooltip {
    border-radius: 0.4rem;
    font-size: 0.6rem;
    font-family: inherit;
    background: #262c47;
    color: #a4abc7;
    padding: 0.4rem;
    font-weight: 100;

    strong {
      color: $BASE_COLOR_WHITE;
      font-weight: 100;
    }
  }

}
