@import "~/assets/styles/modal.scss";

$depositModalWidth: 17rem;

.deposit {
  width: $depositModalWidth;
  padding: 1.8rem;

  &.resdex2 {
    height: 28rem;
  }

  .qr {
    width: $depositModalWidth - (1.8rem) * 2 !important;
    height: $depositModalWidth - (1.8rem) * 2 !important;
    padding: 1.6rem;
    position: relative;
    border-radius: 0.35rem;
    margin-top: 0.25rem;
    margin-bottom: 1.6rem;
    background: white;
  }

  .caution {
    margin-bottom: 0.5rem;

    strong {
      color: $BASE_COLOR_WHITE;
      margin-right: 0.4rem;
    }

    color: $BASE_COLOR_FONT_GRAY_2;
    font-size: 0.7rem;
    text-align: justify;
  }

  .addressInputLabel {
    min-width: 4rem !important;
  }
}
