.container {
  position: absolute;
  padding: 0.5rem;
  width: 18rem;
  height: 20rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0.35rem;
  z-index: 1000;
}

.closeButton {
  float: right;
  font-size: 0.7rem;
  cursor: pointer;
}

.title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.qr {
  width: 100%;
  border-radius: 0.35rem;
  margin-bottom: 1rem;
}
