@import "~/assets/styles/modal.scss";

$instantDexDepositModalWidth: 17rem;

.instantDexDeposit {
  width: $instantDexDepositModalWidth;
  height: 12.5rem;
  padding: 1.8rem;

  .rightButton {
    bottom: 2rem;
  }
}
