@import "~/assets/styles/vars.scss";

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  a {
    font-size: 0.7rem;
    text-transform: uppercase;
    color: $BASE_COLOR_PURPLE;
    cursor: pointer;
  }

}

.form {
  width: 14rem;

  .buttons {
  }

  margin-bottom: 1.8rem;
}

.forgotPassword {
  outline: none;
}
