@import "./bootstrapping/Bootstrapping.scss";

.container {
  width: 14rem;
}

.form {
  margin-bottom: 1.8rem;
}

.forgotPassword {
  font-size: 0.7rem;
  color: $BASE_COLOR_PURPLE;

  cursor: pointer;
  outline: none;
  user-select: none;

  text-transform: uppercase;
}

.syncContainer {
  color: $BASE_COLOR_PURPLE;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.65rem;
  height: 2.5rem;
  position: relative;
}

.sync {
  position: absolute;
  white-space: nowrap;
  transform: translateX(-21%);
}
