@import "./bootstrapping/Bootstrapping.scss";

.container {
    width: 14rem;
}

.form {
  margin-bottom: 1.8rem;
}

.forgotPassword {
  font-size: 0.7rem;
  color: $BASE_COLOR_PURPLE;

  cursor: pointer;
  outline: none;
  user-select: none;

  text-transform: uppercase;
}
