@import "~/assets/styles/vars.scss";

$dialogWidth: 17rem;

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  // filter: blur(70px);
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 999;
}

.container {
  position: absolute;
  padding: 1.8rem;
  width: $dialogWidth;
  height: 24.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.35rem;
  background: $BASE_COLOR_DARK_BLUE_3;
  z-index: 1000;
  -webkit-filter: none;
}

.closeButton:before {
  float: right;
  font-size: 0.6rem;
  cursor: pointer;
  position: relative;
  content: "\e906";
  left: 0.7rem;
  top: -0.5rem;
}

.title {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.qr {
  width: $dialogWidth - (1.8rem) * 2 !important;
  height: $dialogWidth - (1.8rem) * 2 !important;
  padding: 1.6rem;
  position: relative;
  border-radius: 0.35rem;
  margin-bottom: 1.6rem;
  background: white;
}

.addressInputLabel {
  min-width: 4rem !important;
}
