@import "~/assets/styles/vars.scss";
@import "./ResDex.scss";

.container {
  @extend %smallContainer;
  min-width: 17.125rem;
  max-width: 17.125rem;
  width: 17.125rem;
  margin-left: 1.8rem;
}

.briefContainer {
  font-size: 0.61rem;
  font-weight: 100;
  text-align: center;
  background: $BALANCE_BACKGROUND_IMAGE;
  border-radius: 0.3rem 0.3rem 0 0;
  padding-bottom: 1.8rem;

  .brief {
    text-transform: uppercase;
    padding-top: 2rem;
    padding-bottom: 0.35rem;
  }

  .amount {
    font-size: 2.2rem;
    margin-bottom: 0.7rem;
    overflow-x: hidden;
    padding: 0 0.4rem;

    span {
      font-size: 1.2rem;
    }
  }

  .at {
    font-size: 0.58rem;
    overflow-x: hidden;
    padding: 0 0.4rem;
    white-space: nowrap;
  }

}

.fromTo {
  display: flex;
  border-bottom: 1px solid $BASE_COLOR_BORDER_BLUE;
  padding: 1rem;

  .exchangeIcon {
    color: $BASE_COLOR_FONT_GRAY;
    width: 3rem;
    position: relative;
  }

  .exchangeIcon:before {
    content: '\e916';
    font-size: 1.41rem;
  }

  .wallet {
    width: 50%;
    white-space: nowrap;

    img {
      width: 1.3rem;
      padding: 0.25rem;
      float: left;
      margin-right: 0.3rem;
    }

    div {
      font-size: 0.65rem;

      span {
        font-size: 0.55rem;
        display: block;
        color: $BASE_COLOR_FONT_GRAY_2;
        text-transform: uppercase;
        margin-bottom: 0.25rem;
      }
    }
  }
}

.list {
  padding: 0.65rem 1rem;
  margin: 0;
  list-style: none;
  white-space: nowrap;

  li {
    display: flex;
    position: relative;
    width: 100%;
    font-size: 0.625rem;
    font-weight: 100;
    color: $BASE_COLOR_FONT_GRAY_2;
    line-height: 1.65rem;
    overflow-x: hidden;

    hr {
      width: 100%;
      margin: 0.77rem 0.5rem 0 0.5rem;
      height: 1px;
      display: inline-block;
      border: none;
      // border-top: 1px dotted $BASE_COLOR_FONT_GRAY;

      // Border
      background-image: linear-gradient(to right, $BASE_COLOR_BORDER_GRAY 66%, rgba(255,255,255,0) 0%);
      background-position: top;
      background-size: 3px 1px;
      background-repeat: repeat-x;
    }

    &.res {
      hr:before {
        position: absolute;
        content: 'RES';

        left: 51%;
        top: -0.1rem;
        transform: translateX(-50%);

        color: $BASE_COLOR_WHITE;
        background: $BASE_COLOR_PURPLE;

        font-size: 0.58rem;
        font-weight: 500;
        line-height: 0.7rem;

        padding: 0.1rem 0.55rem;
        border-radius: 1.05rem;
        border: 0.4rem solid $BASE_COLOR_DARK_BLUE_3;
      }
    }
  }

  li:last-child {
    span {
      color: $BASE_COLOR_WHITE;
    }
  }
}
