@import '~/assets/styles/vars.scss';
@import './ResDex.scss';

.container {
  @extend %largeContainer;
  padding: 1.8rem;
  margin: 1.5rem;
}

.header {
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-bottom: 1.3rem;
}

.list {
  background: $BASE_COLOR_DARK_BLUE_3;
  margin-bottom: 2rem;
}

/* Columns */
.time {
  color: $BASE_COLOR_FONT_GRAY;
}

.amount {
  &.greater {
    color: $BASE_COLOR_LIGHT_GREEN;
  }

  &.greater:before {
    content: "+";
  }

  &.lesser {
    color: $BASE_COLOR_LIGHT_RED;
  }

}

.private {
  font-size: 1rem;

  &.enabled:before {
    content: "\e90d";
    color: $BASE_COLOR_LIGHT_GREEN;
  }
}

.private:before {
  content: "\e90c";
  color: $BASE_COLOR_FONT_GRAY;
}

.status {
  border-radius: 1rem;
  padding: 0.2rem 0.6rem;
  font-weight: 400;

  &.pending {
    color: $BASE_COLOR_WHITE;
    background: $BASE_COLOR_GRAY_3;
  }

  &.matched, &.swapping {
    color: $BASE_COLOR_DARK_BLUE_3;
    background: $BASE_COLOR_LIGHT_BLUE;
  }

  &.completed {
    color: $BASE_COLOR_DARK_BLUE_3;
    background: $BASE_COLOR_LIGHT_GREEN;
  }

  &.failed {
    color: $BASE_COLOR_DARK_BLUE_3;
    background: $BASE_COLOR_LIGHT_RED;
  }
}
