@import '~/assets/styles/vars.scss';
@import './ResDex.scss';

.container {
  @extend %largeContainer;
  padding: 1.8rem;
  margin: 1.5rem;
  margin-top: 1.2rem;
  height: 100%;
}

.header {
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-bottom: 1.3rem;
  display: flex;
  align-items: center;

  .clearHistoryButton {
    margin-left: 1.4rem;
  }
}

.list {
  background: $BASE_COLOR_DARK_BLUE_3;
  margin-bottom: 2rem;

  .row {
    cursor: pointer;

    .cancelButton {
      visibility: hidden;
    }

    &:hover {
      .cancelButton {
        visibility: visible;
      }
    }
  }
}

.noOrders {
  text-align: center;
  color: $BASE_COLOR_FONT_GRAY;
  margin-bottom: 1rem;

  button {
    margin-top: 1.2rem;
  }
}

/* Columns */
.time {
  color: $BASE_COLOR_FONT_GRAY;
}

.amount {
  &.greater {
    color: $BASE_COLOR_LIGHT_GREEN;
  }

  &.greater:before {
    content: "+";
  }

  &.lesser {
    color: $BASE_COLOR_LIGHT_RED;
  }

}

.private {
  font-size: 1rem;

  &.enabled:before {
    content: "\e90d";
    color: $BASE_COLOR_LIGHT_GREEN;
  }
}

.private:before {
  content: "\e90c";
  color: $BASE_COLOR_FONT_GRAY;
}

.status {
  border-radius: 1rem;
  padding: 0.2rem 0.6rem;
  font-weight: 400;
  white-space: nowrap;

  &.pending {
    color: $BASE_COLOR_WHITE;
    background: $BASE_COLOR_GRAY_3;
  }

  &.matched, &.swapping, &.swapping_rel_res, &.swapping_res_base {
    color: $BASE_COLOR_DARK_BLUE_3;
    background: $BASE_COLOR_LIGHT_BLUE;
  }

  &.privatizing {
    color: $BASE_COLOR_WHITE;
    background: $BASE_COLOR_PURPLE;
  }

  &.completed {
    color: $BASE_COLOR_DARK_BLUE_3;
    background: $BASE_COLOR_LIGHT_GREEN;
  }

  &.failed {
    color: $BASE_COLOR_DARK_BLUE_3;
    background: $BASE_COLOR_LIGHT_RED;
  }

  &.cancelled {
    color: $BASE_COLOR_WHITE;
    background: $BASE_COLOR_GRAY_2;
  }
}
