@import "~/assets/styles/vars.scss";
@import "~/assets/styles/tabs.scss";

.expanded {
  margin-top: 0.2rem;
  position: relative;
  padding-right: 0.5rem;

  .tabList {
    padding-left: 5rem;
  }

  .selectedMainTabPanel {
    height: 100%;
    &::after {
      border: none;
    }

  }

  height: 100%;
}

.dragBar {
  -webkit-app-region: drag;
  height: 3.2rem;
  display: block;
}

.kycNote {
  padding: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background: $BASE_COLOR_PURPLE;

  strong {
    margin-right: 0.4rem;
  }

  color: $BASE_COLOR_WHITE;
  font-size: 0.7rem;
  text-align: justify;
}

.resDexContainer {
  justify-content: start;
  display: inline;
  position: relative;
  height: 100%;
  width: 0;
  overflow-y: hidden;
}

.logoutButton {
  position: absolute;
  top: 4.2rem;
  right: 0.8rem;

  .logoutGlyph {
    &:before {
      font-size: 0.9rem;
      color: $BASE_COLOR_FONT_GRAY;
      content: '\e91d';

    }

    &:hover {
      &:before {
        color: $BASE_COLOR_PURPLE;
      }
    }

  }
}

/* Base classes for all top level containers inside the tab panel */
%largeContainer {
  border-radius: 0.3rem;
  border: 1px solid $BASE_COLOR_BORDER_BLUE;
  background: $BASE_COLOR_DARK_BLUE_3;
  padding: 0;
}

%smallContainer {
  @extend %largeContainer;
  padding: 0;
}

.selectedMainTabPanel {
  overflow-y: scroll;
  margin-top: 0.3rem;
  padding-right: 0.3rem;
  height: calc(100vh - 11.7rem);

  &::after {
    position: absolute;
    height: 100%;
    border-right: 1px solid $BASE_COLOR_BORDER_BLUE;
    content: ' ';
    top: 5.9rem;
    right: 0.9rem;
  }
}
