@import "~/assets/styles/vars.scss";
@import "~/assets/styles/tabs.scss";

.dragBar {
  -webkit-app-region: drag;
  height: 3.2rem;
  display: block;
}

.resDexContainer {
  justify-content: start;
  display: inline;
  position: relative;
  height: 100%;
  width: 0;
}

/* Base classes for all top level containers inside the tab panel */
%largeContainer {
  border-radius: 0.3rem;
  border: 1px solid $BASE_COLOR_BORDER_BLUE;
  background: $BASE_COLOR_DARK_BLUE_3;
  padding: 0;
}

%smallContainer {
  @extend %largeContainer;
  padding: 0;
}
