@import "~/assets/styles/vars.scss";
@import "~/assets/styles/tabs.scss";

.expanded {
  margin-top: -3rem;
  position: relative;
  padding-right: 0.5rem;

  .tabList {
    padding-left: 5rem;
  }

  .selectedMainTabPanel {
    height: 100%;
    &::after {
      border: none;
    }

  }

  height: 100%;
}

.dragBar {
  -webkit-app-region: drag;
  height: 3.2rem;
  display: block;
}

.resDexContainer {
  justify-content: start;
  display: inline;
  position: relative;
  height: 100%;
  width: 0;
  overflow-y: hidden;
}

/* Base classes for all top level containers inside the tab panel */
%largeContainer {
  border-radius: 0.3rem;
  border: 1px solid $BASE_COLOR_BORDER_BLUE;
  background: $BASE_COLOR_DARK_BLUE_3;
  padding: 0;
}

%smallContainer {
  @extend %largeContainer;
  padding: 0;
}

.selectedMainTabPanel {
  overflow-y: scroll;
  margin-top: 0.3rem;
  padding-right: 0.3rem;
  height: calc(100vh - 11.7rem);

  &::after {
    position: absolute;
    height: 100%;
    border-right: 1px solid $BASE_COLOR_BORDER_BLUE;
    content: ' ';
    top: 5.9rem;
    right: 0.9rem;
  }
}
