@import "~/assets/styles/modal.scss";

$withdrawModalWidth: 26.25rem;

.withdraw {
  padding: 2rem;
  padding-bottom: 1rem;
  width: $withdrawModalWidth - 4rem;
  position: relative;

  .secretFundsIcon {
  }

  .inputsRow {
    display: flex;

    .amount {
      text-align: left;
    }

    .exchangeIcon {
      color: $BASE_COLOR_LIGHT_BLUE;
      font-size: 1.37rem;
      margin-left: 0.4rem;
      margin-right: 0.4rem;
      margin-top: 1.7rem;

      &:before {
        content: '\e916';
      }
    }
  }

  .caption {
    color: $BASE_COLOR_FONT_GRAY_2;
    height: 0.65rem;
    margin-left: 1.1rem;
    margin-bottom: 0.85rem;
    font-size: 0.65rem;
    text-transform: uppercase;
    user-select: none;
    cursor: default;
  }

  .noteTextArea {
    max-height: 4rem;
  }

  .memo {
    color: $BASE_COLOR_FONT_GRAY_2;
    font-size: 0.7rem;
    text-align: justify;

    hr {
      border: none;
      border-bottom: 1px solid $BASE_COLOR_BORDER_GRAY;
      margin-bottom: 1rem;
    }

    strong {
      color: $BASE_COLOR_WHITE;
    }
  }

  .button {
    position: absolute;
    margin-top: 0.75rem;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
    right: 2rem;
    bottom: 3rem;
  }

}
