@import "~/assets/styles/modal.scss";

$withdrawModalWidth: 26.25rem;

.withdraw {
  padding: 2rem;
  padding-bottom: 1rem;
  width: $withdrawModalWidth - 4rem;
  position: relative;

  .title {
    display: flex;
    align-items: center;

    .secretFundsIcon {
      color: $BASE_COLOR_FONT_GRAY;
      margin-right: 0.5rem;

      &:before {
        content: '\e922';
        font-size: 1.37rem;
      }
    }
  }

  .noteTextArea {
    max-height: 4rem;
  }

  .memo {
    color: $BASE_COLOR_FONT_GRAY_2;
    font-size: 0.7rem;
    text-align: justify;

    hr {
      border: none;
      border-bottom: 1px solid $BASE_COLOR_BORDER_GRAY;
      margin-bottom: 1rem;
    }

    strong {
      color: $BASE_COLOR_WHITE;
    }
  }

}
