@import "../../theme/generic-component.scss";
@import "../../theme/vars.scss";
@import "../../theme/modal-dialog.scss";
@import "../../theme/table.scss";

.operationsModal {
  @extend .modalDialog;
}

.operationsModalBody {
  @extend .modalBody;
  padding: 6px;
}

.clearButton {
  @include roundedButton(false);
}

.tableContainer {
  height: 100%;
}

.tableRowsContainer {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
}

.tableColumnOperation {
  width: 15%;
}

.tableColumnAmount {
  width: 10%;
}

.tableColumnError {
  width: 30%;
}

.tableColumnTriggered {
  width: 15%;
}

.tableColumnStatus {
  width: 10%;
}

.tableColumnFee{
  width: 10%;
}

.operationStatus {
  border-radius: 2px;
  padding: 2px 4px;

  &.queued {
    background-color: #009dd7;
  }

	&.executing {
    background-color: #009dd7;
  }

	&.cancelled {
    background-color: #f7a336;
  }

	&.failed {
    background-color: #e20063;
  }

	&.success {
    background-color: #00d492;
  }
}
