@import "../../theme/generic-component.scss";
@import "../../theme/vars.scss";
@import "../../theme/modal-dialog.scss";

.operationsModal {
  @extend .modalDialog;
}

.operationsModalBody {
  @extend .modalBody;

  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem;

    td {
      padding: 0.25rem;

      div {
        overflow: hidden;
      }
    }

    tr {
      border-bottom: 1.5px solid $BASE_COLOR_BODER_GRAY;
    }

    tr:last-child {
      border-bottom: none;
    }
  }
}
