@import "~/assets/styles/vars.scss";

.container {
  padding-top: 3.6rem;
  padding-left: 1.35rem;
  -webkit-app-region: drag;
  background-color: $NAVI_BAR_BACKGROUND_COLOR;
  min-width: $NAVI_BAR_CONTAINER_WIDTH;
  width: $NAVI_BAR_CONTAINER_WIDTH;
  user-select: none;
}

.item {
  -webkit-app-region: no-drag;
  font-size: 0.88rem;
  font-weight: 300;
  align-items: center !important;
  padding: 0.5rem 0;

  i {
    font-family: 'icomoon' !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    font-size: 1.5rem;
    color: $NAVI_BAR_ITEM_ICON_COLOR;
    width: 2.3rem;
  }

  i:before {
    position: relative;
  }

  a {
    text-decoration: none;
    color: $NAVI_BAR_ITEM_FONT_COLOR;
  }

  &.active {
    i {
      color: $NAVI_BAR_ITEM_ICON_ACTIVE_COLOR;
    }

    a {
      color: $NAVI_BAR_ITEM_FONT_ACTIVE_COLOR;
    }
  }

}

.overview {
  i:before {
    content: "\e90a";
    font-size: 1.4rem;
    margin-left: -0.2rem;
  }
}

.ownAddresses {
  i:before {
    content: "\e90b";
    font-size: 0.9rem;
    top: -0.1rem;
  }
}

.sendCash {
  i:before {
    content: "\e909";
    font-size: 1.5rem;
    margin-left: -0.2rem;
  }
}

.addressBook {
  i:before {
    content: "\e908";
    font-size: 1.08rem;
    margin-left: 0.1rem;
  }
}

.settings {
  i:before {
    content: "\e907";
    font-size: 1.6rem;
    margin-left: -0.2rem;
  }
}

.resdex {
  i:before {
    content: "\e916";
    font-size: 1.41rem;
    margin-left: -0.1rem;
  }

  span {
    margin-left: 0.7rem;
    color: $BASE_COLOR_WHITE;
    padding: 0.25rem 0.55rem;
    border-radius: 2rem;
    background: $BASE_COLOR_PURPLE;
    font-size: 0.55rem;
    font-weight: 400;
    text-transform: uppercase;
  }
}
