@import "../../theme/vars.scss";

$NAVI_BAR_CONTAINER_WIDTH: 13rem;

.navibarContainer {
  padding-top: 3.6rem;
  padding-left: 0.8rem;
  -webkit-app-region: drag;
  background-color: $NAVI_BAR_BACKGROUND_COLOR;

  min-width: $NAVI_BAR_CONTAINER_WIDTH;
  width: $NAVI_BAR_CONTAINER_WIDTH;
}

.naviVBarItem {
  -webkit-app-region: no-drag;
  align-items: center !important;
  padding: 0.8rem 0;

  span {
    font-size: 1.5rem;
    margin-right: 0.8rem;
    color: $NAVI_BAR_ITEM_ICON_COLOR;
  }

  a {
    text-decoration: none;
    color: $NAVI_BAR_ITEM_FONT_COLOR;
  }
}

.activeNaviVBarItem {
  span {
    color: $NAVI_BAR_ITEM_ICON_ACTIVE_COLOR;
  }

  a {
    color: $NAVI_BAR_ITEM_FONT_ACTIVE_COLOR;
  }
}

.icon-own-address:before {
  font-size: 1.3rem !important;
}
