@import "~/assets/styles/vars.scss";

.container {
  padding-top: 2rem;
  padding-left: 0;
  background-color: $NAVI_BAR_BACKGROUND_COLOR;
  min-width: $NAVI_BAR_CONTAINER_WIDTH;
  width: $NAVI_BAR_CONTAINER_WIDTH + 1.35rem;
  user-select: none;
  cursor: pointer;

  &.shrink {
    min-width: 0;
    width: 0;
  }
}

.draggableContainer {
  padding-top: 2.4rem;
  padding-left: 1.35rem;
  -webkit-app-region: drag;
  height: 100%;
}

.item {
  -webkit-app-region: no-drag;
  font-size: 0.88rem;
  font-weight: 300;
  align-items: center !important;
  padding: 0.5rem 0;

  i {
    font-family: 'icomoon' !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    font-size: 1.5rem;
    color: $NAVI_BAR_ITEM_ICON_COLOR;
    width: 2.1rem;
  }

  i:before {
    position: relative;
  }

  a {
    text-decoration: none;
    color: $NAVI_BAR_ITEM_FONT_COLOR;
  }

  &.active {
    i {
      color: $NAVI_BAR_ITEM_ICON_ACTIVE_COLOR;
    }

    a {
      color: $NAVI_BAR_ITEM_FONT_ACTIVE_COLOR;
    }
  }

}

.overview {
  i:before {
    content: '\e91c';
    font-size: 1.4rem;
    margin-left: -0.2rem;
  }
}

.ownAddresses {
  i:before {
    content: '\e90b';
    font-size: 0.9rem;
    top: -0.1rem;
  }
}

.sendCurrency {
  i:before {
    content: '\e909';
    font-size: 1.5rem;
    margin-left: -0.2rem;
  }
}

.addressBook {
  i:before {
    content: '\e908';
    font-size: 1.08rem;
    margin-left: 0.1rem;
    top: -0.15rem;
  }
}

.settings {
  i:before {
    content: '\e907';
    font-size: 1.6rem;
    margin-left: -0.2rem;
  }
}

.simplex {
  position: relative;

  i:before {
    content: '\e91e';
    font-size: 1.6rem;
    top: -0.15rem;
    left: -0.17rem;
  }

  .visa {
    position: absolute;
    width: 1.729rem;
    top: 1.06rem;
    right: 2.1rem;
  }

  .mastercard {
    position: absolute;
    width: 1.29rem;
    top: 0.92rem;
    right: 0.6rem;
  }
}

.resdex {
  position: relative;

  i:before {
    content: '\e916';
    font-size: 1.41rem;
    margin-left: -0.1rem;
  }

  .resDexStatus {
    position: absolute;
    display: inline-block;

    top: 1.1rem;
    left: 48%;

    color: $BASE_COLOR_DARK_BLUE_2 !important;

    font-size: 0.55rem;
    font-weight: 400;

    padding: 0.25rem;
    border-radius: 50%;

    &.hasOrders {
      position: relative;
      width: 0.9rem;
      height: 0.9rem;
      left: 0.8rem;
      top: 0.4rem;

      .number {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .comingSoon {
    position: absolute;
    top: 0.8rem;
    left: 3.8rem;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    border-radius: 0.55rem;
    font-size: 0.5rem;
    font-weight: 500;
    background: $BASE_COLOR_PURPLE;
    color: $BASE_COLOR_WHITE;
    text-transform: uppercase;
    margin-left: 2rem;
  }

  .getVerified {
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    border-radius: 0.55rem;
    font-size: 0.55rem;
    font-weight: 500;
    background: $BASE_COLOR_PURPLE;
    color: $BASE_COLOR_WHITE;
    text-transform: uppercase;
    margin-left: 2rem;
  }
}

.dutchAuction {
  position: relative;

  i:before {
    content: '\e91f';
    font-size: 1.41rem;
    margin-left: -0.1rem;
  }
}
