@import "~/assets/styles/tooltip.scss";
@import "~/assets/styles/vars.scss";

.info {
  display: inline-block;
  margin-left: 0.4rem;
  border-radius: 50%;
  border: 1px solid $BASE_COLOR_LIGHT_BLUE;
  width: 0.65rem;
  height: 0.65rem;
  position: relative;
  top: 0;
}

.info:after {
  position: absolute;
  content: 'i';
  font-style: normal;
  font-size: 0.55rem;
  color: $BASE_COLOR_LIGHT_BLUE;
  text-transform: lowercase;
  left: 48%;
  top: 48%;
  transform: translate(-50%, -50%);
}
