@import "~/assets/styles/vars.scss";

.input {
  font-size: 0.75rem;
  color: $BASE_COLOR_WHITE;
  background-color: transparent;
  border: 0;
  padding-left: 0.65rem;
  padding-right: 0.7rem;
  outline: 0;
}
