@import "~/assets/styles/vars.scss";

.radio {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1.3rem;
  font-size: 0.65rem;
  color: $BASE_COLOR_FONT_GRAY;
  text-align: justify;

  label {
    position: relative;
    color: $BASE_COLOR_WHITE;
    display: block;
    margin-bottom: 0.5rem;
    user-select: none;
  }

  input[type=radio] {
    margin: 0;
    margin-right: 0.9rem;
    visibility: hidden;
  }

  input[type=radio]:before {
    content: '\0020';
    display: inline-block;
    background: #151a35;
    font-size: 0.8rem;
    border-radius: 0.2rem;
    color: $BASE_COLOR_PURPLE;
    width: 0.8rem;
    height: 0.8rem;
    visibility: visible;
  }

  input[type=radio]:checked:before {
    content: '\2713';
  }

}
