@import "~/assets/styles/vars.scss";

.inputContainer {
  font-size: 0.65rem;
  color: $BASE_COLOR_FONT_GRAY;
  display: flex;
  padding-right: 0.45rem;
}

.input {
  width: 100%;
  font-size: 0.62rem;
  font-weight: 100;
  text-align: left;
}

.buttonWrapper {
  width: 3.8rem;
  border-left: 1px solid $BASE_COLOR_BORDER_GRAY;
  height: 100%;
  position: relative;

  .useMaxButton {
    position: absolute;
    color: $BASE_COLOR_WHITE;
    background-color: $BASE_COLOR_PURPLE;
    border-radius: 5rem;
    border: 0;
    font-size: 0.5rem;
    padding: 0.1rem 0.5rem;
    white-space: nowrap;
    vertical-align: middle;
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);
    text-transform: uppercase;
    outline: none;
  }
}
