@import "../../theme/vars.scss";

.errorMessage {
  padding: 2px 6px;
  color: white;
  font-size: 0.6rem;
  text-transform: uppercase;
  text-align: center;
}

.roundedInputContainer {
    position: relative;
    padding: 0 1.3rem;

    border: 1.5px solid $BASE_COLOR_BORDER_GRAY;
    border-radius: 5rem;

    &.error {
      border: 1.5px solid rgb(255, 97, 87);
    }

    font-size: 0.7rem;
    font-weight: 300;

    div {
        display: inline-block;
    }

    .roundedInputLabel {
        color: $BASE_COLOR_BUTTON_FONT_GRAY;
        width: 9rem;
        text-transform: uppercase;
    }

    .roundedInputTextArea {
        input {
            padding: 0.5rem 1rem;

            min-width: 12rem;
            max-width: 12rem;
            width: 12rem;

            background-color: transparent;
            border: 0;
            border-left: 1.5px solid $BASE_COLOR_BORDER_GRAY;

            color: $BASE_COLOR_WHITE;

            &:focus {
                outline: none
            }
        }

        span {
            cursor: pointer;
        }

        .roundedInputAddonPaste {
            position: relative;
            color: $BASE_COLOR_PURPLE;

            .addOnPaste {
                position: absolute;
                top: -0.03rem;
                left: 1.5rem;
            }
        }

        .roundedInputAddonTextPlaceholder {
            color: $BASE_COLOR_BUTTON_FONT_GRAY;
            cursor: default;
        }

        span.tooltip {
            // visibility: hidden; // Hidden by default

            position: absolute;
            bottom: 125%;
            left: 40%;
            width: 22rem;

            padding: 0.5rem 1.5rem;

            background-color: $BASE_COLOR_BORDER_GRAY;
            border-radius: 5rem;
            font-size: 0.7rem;
            font-style: italic;

            &:after  {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: $BASE_COLOR_BORDER_GRAY transparent transparent transparent;
            }
        }
    }
}

.roundedInputContainer[disabled] {
    .roundedInputTextArea {

        .roundedInputAddonDropdown {
            cursor: default;
        }

        .roundedInputAddonPaste {
            opacity: 0.6;
            cursor: default;

            span {
                cursor: default;
            }
        }
    }
}

