@import "./vars.scss";

.tabs {
  height: 100%;
}

.tabList {
  font-size: 0.7rem;
  margin: 0;
  padding: 0;
  text-align: center;
  user-select: none;
}

.tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 4px 12px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px 5px 0 0;
  margin-right: 2px;
  white-space: nowrap;
}

.selectedTab {
  border-bottom: none;
  z-index: 3;
  background-color: $BASE_COLOR_PURPLE;
}

.tabPanel {
  display: none;
  z-index: 2;
  height: 100%;
}

.selectedTabPanel {
  display: block;
  border-radius: 6px;
  background-color: transparent;
  padding: 6px;
  height: 100%;
}
