@import "~/assets/styles/tooltip.scss";
@import "~/assets/styles/vars.scss";

.hidden {
  display: none !important;
}

.toggleContainer {
  color: $BASE_COLOR_FONT_GRAY;
  text-transform: uppercase;
  font-size: 0.67rem;
  font-weight: 500;
  display: flex;

  .active {
    color: $BASE_COLOR_WHITE;
  }

  .label {
    padding-top: 0.4rem;
    cursor: default;
    user-select: none;
  }

}

.tooltip {
  max-width: 7rem;

  .title {
    margin-top: 0.7rem;
    margin-bottom: 0.5rem;
    color: $BASE_COLOR_WHITE;
    font-size: 0.69rem;
    font-weight: 500;
    cursor: default;
    white-space: nowrap;
  }

  .text {
    margin-bottom: 0.6rem;
  }

  .description {
    font-size: 0.6rem;
    color: $BASE_COLOR_PURPLE;
    white-space: pre;
    margin-bottom: 0.5rem;
    margin-top: -0.3rem;
    cursor: pointer;
    outline: none;
    text-align: center;
  }

}

.container {
  -webkit-app-region: no-drag;
  position: absolute;
  left: 0;
  bottom: $SYSTEM_INFO_BAR_HEIGHT;
  width: $NAVI_BAR_CONTAINER_WIDTH + 1.35rem;
  height: 1.2rem;
  display: flex;
  background: $BASE_BACKGROUND_COLOR_DARK_BLUE;
  border-top: 1px solid $BASE_COLOR_BORDER_BLUE;
  padding: 0.7rem 0;

  > div {
    display: inline-block;
    width: 25%;
    border-right: 1px solid $BASE_COLOR_BORDER_BLUE;
    padding: 0 1rem;
    color: $BASE_COLOR_FONT_GRAY;
    font-size: 1.1rem;

    &.active {
      color: $BASE_COLOR_LIGHT_GREEN;
    }
  }

  .mining:before {
    content: '\e914';
    margin-left: 0.25rem;
  }

  .privateTransactions {
    font-size: 1.3rem;
  }

  .privateTransactions:before {
    content: '\e911';
  }

  .privateTransactions.active:before {
    content: '\e912';
  }

  .tor:before {
    content: '\e913';
    margin-left: 0.22rem;
  }

  .operations {
    cursor: pointer;
    border: none !important;
  }

  .operations:before {
    content: '\e915';
    font-size: 1rem;
    font-weight: 50;
    margin-left: 0.19rem;
  }

}

.operationsIconHint {
  color: $BASE_COLOR_FONT_GRAY_2;
  font-size: 0.5rem;

  right: 0.6rem;
  bottom: 0.6rem;
  position: absolute;
  cursor: default;
  text-align: center;
}
