@import "./GetStarted.scss";

.downloadProgressContainer {
}

.downloadProgress {
  color: $BASE_COLOR_FONT_GRAY;
  display: inline-block;
  position: relative;
  font-size: 0.65rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);

  div {
    position: absolute;
    top: 0;
    background: $BALANCE_BACKGROUND_IMAGE;
    // background: $BASE_COLOR_PURPLE;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
    white-space: nowrap;
  }

}

.summary {
  width: 20rem;
  border: 1px solid $BASE_COLOR_BORDER_GRAY;
  border-radius: 0.5rem;
  margin-bottom: 2.2rem;

  .title {
    text-align: left;
    color: $BASE_COLOR_FONT_GRAY_2;
    font-size: 0.7rem;
    border-bottom: 1px solid $BASE_COLOR_BORDER_GRAY;
    padding: 0.9rem 2rem;
  }

  .body {
    padding: 0.3rem 2rem 0.1rem 2rem;
    text-align: left;
    list-style: none;

    li {
      font-size: 0.7rem;
      font-weight: normal;
      white-space: nowrap;
      overflow: hidden;
      margin-bottom: 1.1rem;
    }

    span {
      color: $BASE_COLOR_FONT_GRAY;
      width: 7rem;
      display: inline-block;
      font-weight: 500;
    }
  }

}

.buttons {
  text-align: center;

  button {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }
}
