@import "~/assets/styles/modal.scss";
@import "~/assets/styles/vars.scss";
@import "~/assets/styles/generic-component.scss";

$connectLedgerModalWidth: 26.25rem;

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.connectLedger {
  width: $connectLedgerModalWidth - 2 * 2rem;
  height: 13rem - 2 * 2rem;
  padding: 2rem;

  .title {
    padding-left: 1.5rem;
  }

  .icon {
    position: absolute;
    width: 1.4rem;
    height: 1.4rem;

    &.ledgerIcon {
      background: url('assets/images/ledger-logo.svg');
      background-size: contain;
      width: 0.95rem;
      height: 0.95rem;
      margin-left: -1.5rem;
      margin-top: 0.2rem;
    }

    &.connectIcon {
      background: url('assets/images/ledger.svg');
      background-size: contain;
      margin-left: -1rem;
      margin-top: -0.04rem;
    }

    &.navigateIcon {
      background: url('assets/images/navigate.svg');
      background-size: contain;
      margin-left: -1rem;
      margin-top: -0.04rem;
    }
  }
}

.viewDetailsButton {
  text-align: center !important;
}

.stepsList {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    padding-bottom: 1.4rem;
    border-bottom: 1px solid $BASE_COLOR_BORDER_GRAY;
    padding-left: 1rem;

    &:last-child {
      padding-top: 1.4rem;
      border-bottom: none;
    }

  }

  .description {
    margin-left: 1rem;
  }

  .mark {
    display:inline-block;
    flex: 1;
    text-align: right;
    padding-right: 0.6rem;

    &:before {
      position: relative;
      top: 0.07rem;
      font-family: 'icomoon' !important;
      font-size: 0.93rem;
      content: "\e90c";
      color: $BASE_COLOR_FONT_GRAY;
    }

    &.active:before {
      content: "\e90d";
      font-size: 0.87rem;
      color: $BASE_COLOR_SUCCESS;
    }
  }

}

.continueButton {
  float: right;
}

.transactionSent {
  text-align: center;

  .checkMark {
    margin-bottom: 3.6rem;
  }

  .header {
    margin-bottom: 0.7rem;
  }

  .note {
    color: $BASE_COLOR_FONT_GRAY;
    font-size: 0.77rem;
    margin-bottom: 1.6rem;
  }
}

/* Send currency from Ledger */
