@import "~/assets/styles/modal.scss";
@import "~/assets/styles/vars.scss";
@import "~/assets/styles/generic-component.scss";

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.sendRes {
  width: 26.25rem - 2 * 2rem;
  height: 13rem - 2 * 2rem;
  padding: 2rem;

  &.createTransaction {
    width: 32.25rem - 2 * 2rem;
    height: 18.6rem - 2 * 2rem;

    .caption {
      color: $BASE_COLOR_FONT_GRAY_2;
      font-size: 0.65rem;
      text-transform: uppercase;
      user-select: none;
      margin-left: 1.1rem;
      margin-bottom: 0.85rem;
    }

    .inputLabel {
      min-width: 7rem;
    }

    .amountContainer {
      display: flex;

      .amountInput {
        width: 8rem;
      }
    }

    .balanceContainer {
      margin-left: 1.1rem;

      .caption {
        color: $BASE_COLOR_FONT_GRAY;
        margin-bottom: 0;
        margin-left: 0;
      }

      .balance {
        font-size: 0.65rem;
      }

    }

    .sendButton {
      float: right;
    }

  }

  &.confirmTransaction {
    height: 11.6rem - 2 * 2rem;

    .illustration {
      height: 4rem;
      background: url('assets/images/ledger-illustration.png') no-repeat center;
      background-size: contain;

      .mark {
        &:before {
          position: relative;
          content: "\e90d";
          font-size: 0.67rem;
          color: $BASE_COLOR_SUCCESS;
          left: 10.1rem;
          top: 2.25rem;
        }
      }
    }
  }

  .title {
    padding-left: 1.5rem;
  }

  .icon {
    position: absolute;
    width: 1.4rem;
    height: 1.4rem;

    &.ledgerIcon {
      background: url('assets/images/ledger-logo.svg');
      background-size: contain;
      width: 0.95rem;
      height: 0.95rem;
      margin-left: -1.5rem;
      margin-top: 0.2rem;
    }

    &.connectIcon {
      background: url('assets/images/ledger.svg');
      background-size: contain;
      margin-left: -1rem;
      margin-top: -0.04rem;
    }

    &.navigateIcon {
      background: url('assets/images/navigate.svg');
      background-size: contain;
      margin-left: -1rem;
      margin-top: -0.04rem;
    }
  }
}

.viewDetailsButton {
  text-align: center !important;
}

.stepsList {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    padding-bottom: 1.4rem;
    border-bottom: 1px solid $BASE_COLOR_BORDER_GRAY;
    padding-left: 1rem;

    &:last-child {
      padding-top: 1.4rem;
      border-bottom: none;
    }

  }

  .description {
    margin-left: 1rem;
  }

  .mark {
    display:inline-block;
    flex: 1;
    text-align: right;
    padding-right: 0.6rem;

    &:before {
      position: relative;
      top: 0.07rem;
      font-family: 'icomoon' !important;
      font-size: 0.93rem;
      content: "\e90c";
      color: $BASE_COLOR_FONT_GRAY;
    }

    &.active:before {
      content: "\e90d";
      font-size: 0.87rem;
      color: $BASE_COLOR_SUCCESS;
    }
  }

}

.continueButton {
  float: right;
}

.transactionSent {
  text-align: center;
  height: 15rem - 2 * 2rem;

  .checkMark {
    position: relative;
    margin-bottom: 1.6rem;
    width: 1.8rem;
    height: 1.8rem;
    background: url('assets/images/tick-lg.svg') no-repeat center;
    background-size: contain;
    left: calc(50% - 0.8rem);
    top: 0.5rem;
  }

  .header {
    margin-bottom: 0.7rem;
  }

  .note {
    color: $BASE_COLOR_FONT_GRAY;
    font-size: 0.77rem;
    margin-bottom: 1.6rem;
  }
}

/* Send currency from Ledger */
