@import "../../theme/vars.scss";
@import "../../theme/generic-component.scss";

$TOP_BAR_HEIGHT: 5rem;

.ownAddressesContainer {
    padding: 2rem;
    min-width: 30rem;
}

.topBar {
    min-height: $TOP_BAR_HEIGHT;
    height: $TOP_BAR_HEIGHT;

    align-items: center;
    overflow: visible;
}

.topBarTitle {
    font-size: 1.2rem;
}

.topBarButtonContainer {
  text-align: right;
  margin-right: 5rem;
}

.addAddressButtonContainer {
    display: inline-block;
    cursor: pointer;
}


button {
    margin-left: 0.5rem;

    @include roundedButton();
    cursor: pointer;
}

.addNewAddressButton {
    position: relative;
    @include roundedButton(true);

    padding-right: 2rem;
}


.dropdownMenu {
    position: relative;
    white-space: nowrap;
    z-index: 1000;
}
