@import "~/assets/styles/vars.scss";
@import "~/assets/styles/section.scss";

.dropdownMenu {
  position: relative;
  white-space: nowrap;
  z-index: 1000;
}

.buttonsContainer {
  display: flex;

  .menuButton {
    margin-left: 0.5rem;
  }

  .moreButton {
    position: relative;
    top: -0.4rem;
    margin-left: 0.5rem;
  }

}
