@import "../../theme/vars.scss";
@import "../../theme/generic-component.scss";

$TOP_BAR_HEIGHT: 5rem;

.ownAddressesContainer {
    padding: 2rem;

    min-width: 38rem;
}

.topBar {
    min-height: $TOP_BAR_HEIGHT;
    height: $TOP_BAR_HEIGHT;

    align-items: center;
}

.topBarButtonContainer {
    text-align: right;
}

.addAddressButtonContainer {
    display: inline-block;
    cursor: pointer;
}


button {
    margin-left: 0.5rem;

    @include roundedButton();
    cursor: pointer;
}

.addNewAddressButton {
    @include roundedButton(true);

    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 0.5rem;
}

.addNewAddressButtonAddon {
    display: inline-block;
    cursor: pointer;

    width: 1rem;
    padding: 0.6rem 1.2rem 0.65rem 0.4rem;

    background-color: $BASE_COLOR_PURPLE;

    border: 2px solid $BASE_COLOR_PURPLE;
    border-left: 1px solid $BASE_COLOR_DARK_BLUE;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;

    font-size: 0.75rem; 
}

.dropdownMenu {
    position: relative;

    white-space: nowrap;
}