@import "../../theme/generic-component.scss";
@import "../../theme/vars.scss";

$SYSTEM_INFO_BAR_HEIGHT: 5.5rem;

.systemInfoContainer {
    padding: 0 2rem 0 1.5rem;
    align-items: center !important;

    min-height: $SYSTEM_INFO_BAR_HEIGHT;
    height: $SYSTEM_INFO_BAR_HEIGHT;
    min-width: 46rem;

    background-color: $SYSTEM_INFO_BAR_BACKGROUND_COLOR;
}

.statusColumnWrapper {
    display: inline-block;
    margin-right: 1rem;

    &:last-child{
        margin-right: 0 !important;
    }
}

.statusColoumnTitle {
    margin-bottom: 0.4rem;

    font-size: 0.7rem;
    color: $BASE_COLOR_GRAY;
}

.statusColoumnValue {
    font-weight: 300;

    i {
        margin-right: 0.5rem;
    }

    span {
        font-size: 0.9rem;
        color: $BASE_COLOR_WHITE;
    }
}

.nodeStatusContainer {
  .green {
    color: $BASE_COLOR_ACTIVE_ICON;
  }

  .yellow {
    color: yellow;
  }

  .red {
    color: $BASE_COLOR_FAILURE_ICON;
  }
}

.walletInFileManagerButton {
    @include roundedButton();
}

.installationFolderButton {
    @include roundedButton();

    margin-left: 1rem;
}

.statusButtonsContainer {
  margin-right: -1.4rem;
}

.statusCustomIconsContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 3px;
}

.statusIcon {
  color: $BASE_COLOR_INACTIVE_ICON;

  &.active {
    color: $BASE_COLOR_ACTIVE_ICON;
  }
}

@font-face {
  font-family: 'custom-icons';
  src:  url(fonts/custom-icons.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

[class*="customIcon"] {
  font-family: 'custom-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-size: 1.4rem;
  margin-right: 6px;
}

.customIconTor:before {
  content: "a";
}

.customIconMining:before {
  content: "b";
}

.customIconPrivacy:before {
  content: "c";
}

.customIconOperations:before {
  content: "d";
}

.operationsIconHint {
  color: white;
  font-size: 0.5rem;
  background-color: $SYSTEM_INFO_ICON_HINT_COLOR;
  border-radius: 3px;
  padding: 0 1px;
  right: 58px;
  top: 2px;
  position: absolute;
}
