@import "~/assets/styles/vars.scss";

.container {
  background-color: transparent;
  color: $BASE_COLOR_WHITE;

  &.scrollable {
    overflow-y: scroll;
    height: calc(100% - 3rem);
  }
}

.header {
  .column {
    display: inline-block;
    color: $BASE_COLOR_FONT_GRAY;
    font-size: 0.68rem;
    user-select: none;
    cursor: default;
  }
}

.emptyMessage{
  color: $BASE_COLOR_FONT_GRAY;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 300;
}

.row {
  cursor: default;
  position: relative;

  .column {
    padding: 0.8rem 0;
    display: inline-block;
    padding-left: 0.03rem !important;

    font-size: 0.7rem;
    font-weight: 400;

    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $UNIFORM_LIST_SEPARATOR_COLOR;
  }

}

.row:hover {
  .column {
    color: $BASE_COLOR_PURPLE;
  }
}

.row:last-child {
  .column {
    border: none
  }
}

.spinner {
  width: 0.6rem;
  left: 0.6rem;
  margin-top: 0.1rem;
  margin-right: 0.27rem;
}
